<h1>subtitles for <%= @video.title %></h1>

<video src="#" controls></video>

<% form_for @video do |f| %>
<% @subtitles.each do |subtitle| %>
  <p><%= subtitle.start %></p>
  <p><%= subtitle.end %></p>
  <p><%= subtitle.text %></p>
  <% fields_for @subtitles do |s| %>
    <p>
      <%= s.label :start %>
      <%= s.text_field :start %>
      <%= s.label :end %>
      <%= s.text_field :end %>
    </p>
  <% end %>
<% end %>
  <%= f.submit %>
<% end %>

<% content_for :bottom do %>
<%= javascript_include_tag "crossxhr", "youkuparser" %>
<script>
$(function() {
  var uri = "http://v.youku.com/player/getPlayList/VideoIDS/<%= @video.video_token %>"
  var request;

  function callback() {
    var res = $.parseJSON(request.responseText).data[0],
        _seed = res.seed,
        _key1 = res.key1,
        _key2 = res.key2,
        _fid  = res.streamfileids.mp4,
        _video = ykmp4(_fid, _seed, _key1, _key2);
        $('video').attr('src', _video);
  }
  function req() {
    request = new CrossXHR();
    request.onreadystatechange = callback;
    request.open('GET', uri);
    request.send();
  }
  req();
});
</script>
<% end %>
