<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @subtitle.start %>
</p>

<p>
  <b>End:</b>
  <%= @subtitle.end %>
</p>

<p>
  <b>Text:</b>
  <%= @subtitle.text %>
</p>


<%= link_to 'Edit', edit_subtitle_path(@subtitle) %> |
<%= link_to 'Back', subtitles_path %>
