<ul id="artists">
  <li class="ads box">
    <a href="http://shop36674955.taobao.com">
      <span class="count">6</span>
      <%= image_tag 'maktaobao.png' %>
    </a>
  </li>
  <% @artists.each do |artist| %>
  <li class="box">
    <a href="<%= url_for artist %>">
      <%= image_tag artist.thumbnail %>
      <span class="count"><%= artist.videos.count %></span>
      <h1><%= artist.name %></h1>
    </a>
  </li>
  <% end %>
</ul>
<% content_for :bottom do %>
<script>
$(function() {
  var _counts = $(".count").hide();
  <%= render "shared/seqdisplay.js" %>
  if (_boxes.length == _i) {
    _counts.delay(_i*400).fadeIn();
  };
});
</script>
<% end %>
