<h1>Videos</h1>
<% form_tag videos_path, :method => :delete do %>
<%= submit_tag "Delete selected Videos" %>
<%= link_to 'New Video', new_video_path %>
<table>
<tr>
  <th>Title</th>
  <th>Video</th>
  <th>Key</th>
  <th>Edit</th>
  <th>Subs</th>
  <th>Delete</th>
</tr>
<% @videos.try(:each) do |video| %>
<tr>
  <td><%= video.title %></td>
  <td><%= video.video_token %></td>
  <td><%= video.key %></td>
  <td><%= link_to 'Edit', edit_video_path(video) %></td>
  <td><%= link_to 'Subs', subtitling_path(video) %></td>
  <td><%= check_box_tag "video_keys[]", video.key %></td>
</tr>
<% end %>
</table>
<% end %>
<h1>Artists</h1>
<% form_tag artists_path, :method => :delete do %>
<table>
<tr>
  <th>Name</th>
  <th>Country</th>
  <th>Sex</th>
  <th>Birth</th>
  <th>Delete</th>
</tr>
<% @artists.try(:each) do |artist| %>
<tr>
  <td><%= artist.name %></td>
  <td><%= artist.country %></td>
  <td><%= artist.sex %></td>
  <td><%= artist.birth %></td>
  <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
  <td><%= check_box_tag "artist_keys[]", artist.key %></td>
</tr>
<% end %>
</table>
<%= submit_tag "Delete selected Artists" %>
<%= link_to 'New Artist', new_artist_path %>
<% end %>
<h1>Cymbals</h1>
<% form_tag cymbals_path, :method => :delete do %>
<table>
<tr>
  <th>Model</th>
  <th>Brand</th>
  <th>Size</th>
  <th>Color</th>
  <th>Material</th>
  <th>Delete</th>
</tr>
<% @cymbals.try(:each) do |cymbal| %>
<tr>
  <td><%= cymbal.model %></td>
  <td><%= cymbal.brand %></td>
  <td><%= cymbal.size %></td>
  <td><%= cymbal.color %></td>
  <td><%= cymbal.material %></td>
  <td><%= link_to 'Edit', edit_cymbal_path(cymbal) %></td>
  <td><%= check_box_tag "cymbal_keys[]", cymbal.key %></td>
</tr>
<% end %>
</table>
<%= submit_tag "Delete selected Cymbals" %>
<%= link_to 'New Cymbal', new_cymbal_path %>
<% end %>
