<h1>Videos</h1>
<% form_tag videos_path, :method => :delete do %>
<%= submit_tag "Delete selected Videos" %>
<%= link_to 'New Video', new_video_path %>
<table>
<tr>
  <th>Title</th>
  <th>Video</th>
  <th>Key</th>
  <th>Edit</th>
  <th>Delete</th>
</tr>
<% @videos.each do |video| %>
<tr>
  <td><%= video.title %></td>
  <td><%= video.video_token %></td>
  <td><%= video.key %></td>
  <td><%= link_to 'Edit', edit_video_path(video) %></td>
  <td><%= check_box_tag "video_keys[]", video.key %></td>
</tr>
<% end %>
</table>
<% end %>
<h1>Artists</h1>
<% form_tag artists_path, :method => :delete do %>
<table>
<tr>
  <th>Name</th>
  <th>Country</th>
  <th>Sex</th>
  <th>Birth</th>
  <th>Delete</th>
</tr>
<% @artists.each do |artist| %>
<tr>
  <td><%= artist.name %></td>
  <td><%= artist.country %></td>
  <td><%= artist.sex %></td>
  <td><%= artist.birth %></td>
  <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
  <td><%= check_box_tag "artist_keys[]", artist.key %></td>
</tr>
<% end %>
</table>
<%= submit_tag "Delete selected Artists" %>
<%= link_to 'New Artist', new_artist_path %>
<% end %>
