<ul id="videos">
  <li class="ads box">
    <a href="http://shop36674955.taobao.com">
      <%= image_tag 'maktaobao.png' %>
    </a>
  </li>
  <% @videos.each do |video| %>
  <li class="box">
    <a href="<%= url_for video %>">
      <%= image_tag video.thumbnail %>
      <% if video.sub_on? %>
      <span class="count">中</span>
      <% end %>
      <h1><%= video.title %></h1>
    </a>
  </li>
  <% end %>
</ul>
<% content_for :bottom do %>
<script>
$(function() {
  <%= render "shared/seqdisplay.js" %>
});
</script>
<% end %>
