<article id="video">

<h1><%= @video.title %></h1>

<a
  href="#"
  style="display:block;width:826px;height:688px"
  id="player">
</a>

</article>
<% content_for :bottom do %>
<%= javascript_include_tag "crossxhr", "youkuparser", "flowplayer-3.2.6.min" %>
<script>
$(function() {
  var uri = "http://v.youku.com/player/getPlayList/VideoIDS/<%= @video.video_token %>"
  var request;
  var _vh1 = $('#video h1').hide();

  function callback() {
    var res = $.parseJSON(request.responseText).data[0];
    var _seed, _key1, _key2, _fid;
    _seed = res.seed;
    _key1 = res.key1;
    _key2 = res.key2;
    _fid  = res.streamfileids.mp4;
    $('#player').hover(function() {
      _vh1.fadeIn();
    }).mouseout(function() {
      _vh1.fadeOut();
    });
    flowplayer("player", {
        src: "<%= asset_url %>/swf/flowplayer-3.2.7.swf",
        wmode: "transparent"
      }, {
      clip: {
        url: ykmp4(_fid, _seed, _key1, _key2),
        scaling: 'fit',
        captionUrl: '<%= asset_url %>/subs/<%= @video.key %>.srt'
      },
      canvas: {
        background: '#000000',
        backgroundGradient: 'none'
      },
      plugins: {
        captions: {
          url: "<%= asset_url %>/swf/flowplayer.captions-3.2.3.swf",
          captionTarget: "content"
        },
        content: {
          url: "<%= asset_url %>/swf/flowplayer.content-3.2.0.swf",
          bottom: 64,
          height: 96,
          backgroundColor: 'transparent',
          backgroundGradient: 'none',
          border: 0,
          textDecoration: 'outline',
          style: {
            body: {
              fontSize: 20,
              fontFamily: 'Arial',
              textAlign: 'center',
              color: '#ffffff'
            }
          }
        }
      }
    });
  }
  function req() {
    request = new CrossXHR();
    request.onreadystatechange = callback;
    request.open('GET', uri);
    request.send();
  }
  req();
});
</script>
<% end %>
