<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Makz</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" %>
<%= csrf_meta_tag %>
</head>
<body>

<a href="/">
<header id="top">
<hgroup>
  <h1>马克功学</h1>
  <h2>Marksonz</h2>
</hgroup>
</header>
</a>

<% if notice %>
<p class="flash notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="flash alert"><%= alert %></p>
<% end %>

<section id="content">

<%= yield %>

</section>
<footer id="bottom">
  <span>© 2011 Some rights reserved, Markson.hk</span>
</footer>
<%= yield :bottom %>
</body>
</html>
